.timer__container {
    display: flex;
    flex-direction: column;
    align-items: center;}

.input{
background-color: #8283e5;
font-family: inherit;
font-weight: 500;
font-size: 20px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
color: #dbd81a;
border-radius: 5px;
padding: 6px 10px;
border: 2px solid transparent;
transition: color 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
}

.input:hover,
.input:focus,
.current{
  color: #8283e5;
  background-color: #dbd81a;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

  .timer {
    display: flex;
  }

  .field {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.1;
    outline: none;
  }

.field:hover,
.field:focus,
.current{
  color: #8283e5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

  .value {
    font-weight: 500;
    font-size: 30px;
    color: #dbd81a;
    border-radius: 50px;
    border: 2px solid transparent;
  }

  .value:hover,
  .value:focus,
  .current{
    color: #8283e5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .label {
    color: rgba(45, 158, 96, 0.4);
    font-weight: 500;
  }